<div class="container">

  <div class="headline">
    <div class="headline-info">
      <h1>Task Manager</h1>
      <%= link_to tasks_new_path do %>
        <p><i class="fa-regular fa-file"></i> Add a new task</p>
      <% end %>
    </div>
  </div>

  <ol>
    <% @tasks.each do |t| %>
      <% if t.completed %>
        <li>
          <div class="task-info">
            <div class="check-icon">
              <i class="fa-solid fa-circle-check"></i>
            </div>
              <%= link_to t.title, task_path(t) %>
          </div>
        </li>
      <% else %>
        <li>
          <div class="task-info">
            <div class="check-icon">
              <i class="fa-regular fa-circle"></i>
            </div>
              <%= link_to t.title, task_path(t) %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ol>

</div>
